{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "current"
        }
      }
    ],
    "flow"
  ],
  "plugins": ["transform-class-properties"],
  "env": {
    "production": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "uglify": true
            },
            "modules": "commonjs"
          }
        ],
        "flow"
      ]
    },
    "plugins": ["transform-class-properties"]
  }
}